%h1 COMMENTS
- @comments.each do |comment|
  %h1= User.find(comment.user).login
  %h2= comment.commentable_type == "Item" ? Item.find(comment.commentable_id).name : Event.find(comment.commentable_id).name
  %p= comment.content