<div class="row justify-content-center">
  <div class="col-md-6">
    <h1>Users</h1>
  </div>
</div>
<div class="row">
  <% @users.each do |user| %>
    <div class="col-lg-3 col-md-6 my-3">
      <div class="card">
        <%= show_avatar(user) %>
        <div class="card-body">
          <h6 class="card-title"><%= extract_name(user) %></h6>
          <p class="card-text"><p>
          <% if user == current_user %>
            <%= link_to "Edit", edit_user_registration_path, class: "btn btn-warning" %>
          <% end %>
          <%= link_to "Show", "#", class: "btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>