%h1 
  Cart
%main
  Items in the cart:
  = render @cart.cart_items

  %strong
    = "Total price: "
    %span#total_price= @cart.sum_price
  = link_to "Proceed to checkout", new_checkout_path, class: "btn btn-success"
  
  
  
  