@import "variables";

h1 {
  // font-size: 2em;
  text-align: center;
}

body {
  background-color: $pearl;
  color: $black_dojo;
  padding-top: 55px;
}

.avatar {
  margin: 0 auto;
  padding-top: 1.25rem;
}

.card {
  text-align: center;
}

.dropdown {
  margin-right: 1em;
}

.dropdown-menu {
  right: 1em;
}

.logo {
  margin-bottom: .2em;
  margin-right: 1em;
}

.navbar,
.navbar .dropdown-menu,
.dropdown-item:hover {
  background-color: $black_dojo;
  font-family: cursive;
  color: darken($white_dojo, 10%);
}

.navbar a,
.navbar button {
  color: $white_dojo;  
}

.navbar a:hover,
.navbar button:hover {
  color: darken($white_dojo, 10%);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#F7FFF7' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.d-block.w-100 {
  width: 100vw;
}

.btn-wide {
  width: 100%;
}

.col-10.absolute {
  position: absolute;
  z-index: 1;
}

.btn {
  transition-property: padding;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.btn:hover {
  padding-left: 1em;
  padding-right: 1em;
}