$black_dojo: #0B0B10;
$white_dojo: #F7FFF7;
$light_red: #EF6461;
$earth_yellow: #E4B363;
$pearl: #E5F2C9;

h1 {
  // font-size: 2em;
  text-align: center;
}

body {
  background-color: $pearl;
  color: $black_dojo;
  padding-top: 60px;
}

.avatar {
  margin: 0 auto;
  padding-top: 1.25rem;
}

.card {
  text-align: center;
}

.dropdown {
  margin-right: 1em;
}

.dropdown-menu {
  right: 1em;
}

.logo {
  margin-bottom: .2em;
  margin-right: 1em;
}

.navbar {
  background-color: $white_dojo;
}

.d-block.w-100 {
  width: 100vw;
}

.btn-wide {
  width: 100%;
}

.col-10.absolute {
  position: absolute;
  z-index: 1;
}

.btn {
  transition-property: padding;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.btn:hover {
  padding-left: 1em;
  padding-right: 1em;
}