$black_dojo: #0B0B10;
$white_dojo: #F7FFF7;
$light_red: #EF6461;
$earth_yellow: #E4B363;
$pearl: #E5F2C9;

h1 {
  // font-size: 2em;
  text-align: center;
}

body {
  background-color: $pearl;
  color: $black_dojo;
}

.avatar {
  margin: 0 auto;
  padding-top: 1.25rem;
}

.card {
  text-align: center;
}

.dropdown {
  margin-right: 1em;
}

.dropdown-menu {
  right: 1em;
}

.logo {
  margin-bottom: .2em;
  margin-right: 1em;
}

.navbar {
  background-color: $white_dojo;
}

.d-block.w-100 {
  width: 100vw;
}

.btn-wide {
  width: 100%;
}

// body {
//     background-color: #000;
// }

// #landing-header {
//     z-index: 1;
//     position: relative;
//     text-align: center;
//     padding-top: 40vh;
// }

// #landing-header h1 {
//     color: #fff;
// }

// .slideshow {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     z-index: 0;
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }

// .slideshow li{
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-size: cover;
//     background-position: 50% 50%;
//     background-repeat: no-repeat;
//     opacity: 0;
//     z-index: 0;
//     animation: imageAnimation 50s linear infinite;
// }

// .slideshow li:nth-child(1) {
//     background-image: url(karate_1.jpg);
// }
// .slideshow li:nth-child(2) {
//     background-image: url(karate_2.jpg);
//     animation-delay: 10s;
// }
// .slideshow li:nth-child(3) {
//     background-image: url(karate_3.jpg);
//     animation-delay: 20s;
// }
// .slideshow li:nth-child(4) {
//     background-image: url(karate_1.jpg);
//     animation-delay: 30s;
// }
// .slideshow li:nth-child(5) {
//     background-image: url(karate_2.jpg);
//     animation-delay: 40s;
// }

// @keyframes imageAnimation {
//     0% {
//         opacity: 0;
//         animation-timing-function: ease-in;
//     }
//     10% {
//         opacity: 1;
//         animation-timing-function: ease-out;
//     }
//     20% {
//         opacity: 1;
//     }
//     30% {
//         opacity: 0;
//     }
// }

// /* Older browser support - .no-cssanimations class added by modernizr*/
// .no-cssanimations .slideshow li {
//     opacity: 1;
// }