$black_dojo: #222;
$white_dojo: #F7FFF7;
$light_red: #EF6461;
$earth_yellow: #E4B363;
$pearl: #E5F2C9;

// $navbar-dark-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$white_dojo}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
